<div class="main">
    <table class="table table-bordered">
        <tr class="col-12">
            <th>Product Img</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Prouduct Price</th>
            <th>Product Quantity</th>
            <th>Remove</th>
        </tr>

        <tbody>
            <tr *ngFor="let p of productAndQuantity.entries()">
                <td>
                    <img src="{{p[0].img}}" width="100" height="100">
                </td>
                <td>{{p[0].productName}}</td>
                <td>{{p[0].category.categoryName}}</td>
                <td>{{p[0].productPrice | currency : 'VND'}}</td>
                <td>{{p[1]}}</td>
                <td>
                    <button class="btn btn-danger" (click)="removeItem(p[0])">Remove</button>
                </td>
            </tr>

            <tr>
                <td></td>
                <td [colSpan]="2" class="text-center">Tổng cộng</td>
                <td>{{totalPrice | currency : 'VND'}}</td>
            </tr>
        </tbody>

        
    </table>
</div>


