<body>

    <div class="card">
        <div class="card-img">
            <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/240676804_918397295413212_4988429878344084028_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=s9gMGTx6lKcAX_8IDIA&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfBetLTT6BdacyguA8z0ndvTww6qdZ4AMqD-biNhSGdT1w&oe=654CC160"
                alt="">
        </div>
        <h2>Phạm Thanh Triều</h2>
        <p>Nhiệm Vụ: Code</p>
        <div class="social">
            <a href="https://www.facebook.com/TrieuAssassin0703"><i class="ti-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/PhamTrieu0703"><i class="ti-github"></i></a>
            <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
        <button class="btn-contact">Contact Me</button>
    </div>
    <!-- card profile -->
    <div class="card">
        <div class="card-img">
            <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/240676804_918397295413212_4988429878344084028_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=s9gMGTx6lKcAX_8IDIA&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfBetLTT6BdacyguA8z0ndvTww6qdZ4AMqD-biNhSGdT1w&oe=654CC160"
                alt="">
        </div>
        <h2>Phạm Thanh Triều</h2>
        <p>Nhiệm Vụ: Code</p>
        <div class="social">
            <a href="https://www.facebook.com/TrieuAssassin0703"><i class="ti-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/PhamTrieu0703"><i class="ti-github"></i></a>
            <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
        <button class="btn-contact">Contact Me</button>
    </div>
    <!-- card profile -->
    <div class="card">
        <div class="card-img">
            <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/240676804_918397295413212_4988429878344084028_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=s9gMGTx6lKcAX_8IDIA&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfBetLTT6BdacyguA8z0ndvTww6qdZ4AMqD-biNhSGdT1w&oe=654CC160"
                alt="">
        </div>
        <h2>Phạm Thanh Triều</h2>
        <p>Nhiệm Vụ: Code</p>
        <div class="social">
            <a href="https://www.facebook.com/TrieuAssassin0703"><i class="ti-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/PhamTrieu0703"><i class="ti-github"></i></a>
            <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
        <button class="btn-contact">Contact Me</button>
    </div>
</body>