<body>

    <div class="card">
        <div class="card-img">
            <img src="" >
        </div>
        <h2>Phạm Thanh Triều</h2>
        <p>Nhiệm Vụ: Code</p>
        <div class="social">
            <a href="https://www.facebook.com/TrieuAssassin0703"><i class="ti-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/PhamTrieu0703"><i class="ti-github"></i></a>
            <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
        <button class="btn-contact">Contact Me</button>
    </div>
    <!-- card profile -->
    <div class="card">
        <div class="card-img">
            <img src=""
                alt="">
        </div>
        <h2>Chu Mai Linh</h2>
        <p>Nhiệm Vụ: Code</p>
        <div class="social">
            <a href="https://www.facebook.com/TrieuAssassin0703"><i class="ti-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/PhamTrieu0703"><i class="ti-github"></i></a>
            <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
        <button class="btn-contact">Contact Me</button>
    </div>   <!-- card profile -->
    <div class="card">
        <div class="card-img">
            <img src=""
                alt="">
        </div>
        <h2>Đinh Minh Tuấn</h2>
        <p>Nhiệm Vụ: Code</p>
        <div class="social">
            <a href="https://www.facebook.com/TrieuAssassin0703"><i class="ti-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/PhamTrieu0703"><i class="ti-github"></i></a>
            <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
        <button class="btn-contact">Contact Me</button>
    </div>
</body>