<div style="background-color: whitesmoke; width: max-width ;height: 100vh;">

    <!-- Nav -->
    <div class="nav">
        <ul class="nav-list">
            <li>logo here</li>
        </ul>

        <ul class="nav-list">
            <li class="search">
                <input>
            </li>
        </ul>

        <ul class="nav-list">

            <li class="nav_item">
                <button class="btn_dangNhap">Dang nhap</button>
            </li>

            <li class="nav_item">
                <button class="btn_dangKy">Dang ki</button>
            </li>
        </ul>

        <ul class="nav-list">
            <li class="btn_gioHang">
                <button>Gio hang</button>
            </li>
        </ul>

    </div>
    <div class="column-layout">

        <!-- categories -->
        <div class="left-column">
            <h2 style="text-align: center;">Categories</h2>
            <!-- <div class="categories" *ngFor="let c of categories">{{c.categoryName}}</div> -->
        </div>

        <!-- phần items -->
        <div class="right-column">
            <div style="display: flex;justify-content: flex-end;">
                <div>...sản phẩm |</div>

                <div style="margin-left: 0.5%;">Hiển thị theo:
                    <select style="border: none;font-weight: bold">
                        <option>Sắp xếp sản phẩm</option>
                        <option>Giá tăng dần</option>
                        <option>Giá giảm dần</option>
                        <option>A-Z</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>