
    <div id="main">
      <div id="header">
          
          <ul id="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Shop</a></li>
          </ul>

          <div class="form-group fg--search">
            <input type="text"placeholder="Tìm kiếm"class="search-input">
            <button type="submit"><i class="ti-search"></i></button>
          </div>
          <div class="btn-shopping">
            <a href="#" class="shopping-icons ti-shopping-cart"></a>
          </div>
        
        </div>

      </div>
      <div id="slide">

      </div>
      <div id="container">
        <div id="content">

        </div>
    
      </div>
      <div id="footer">

      </div>
  <script>

  </script>
  
  
  
