*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}
#header{
  background-color:#fff;
  height: 46px;
  position: fixed;
  top:0px;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}
#nav{
  list-style: none;
  display: inline-block;
  font-weight: bold;
}

#underline{
  position:absolute;
  height: 1.5px;
  width: 100%;
  background-color: #ff1957;
  left: 0;
  bottom: 10px;
  transition: 0.5s ease;
}

#nav > li > a {
  color: #000;
  text-decoration: none;
  display: block;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:0px 18px;
    display: block;
    
}
#nav > li {
  display: inline-block;
}

#nav li{
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 6px 25px;
  border-radius: 30px;
  width: 22em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
#header .btn-shopping{
    padding: 0 18px;
    margin-left: 18px;

}
#header .shopping-icons{
    line-height: 50px;
    color:#000;
    text-decoration: none;
   
}

#header .btn-shopping:hover{
  cursor: pointer;
}

